:root {
    --yellow-light: rgba(237, 244, 187, 1);
    --green-light: rgba(217, 242, 199, 1);
    --blue-light: rgba(196, 238, 221, 1);

    --yellow-medium: rgba(221, 216, 86, 1);
    --green-medium: rgba(145, 198, 106, 1);
    --blue-medium: rgba(10, 195, 161, 1);

    --caption-font-family: "PT Sans Caption";
    --text-font-family: "Nunito";
  }
  